<h1>{{title}}</h1>
<p>Welcome to our {{title}}</p>

{{#each shows}}
    <div>
        <div>
            Show Name:
            <a href='#'>{{this.name}}</a>
        </div>
        <div>
            Show Poster:
            <img src='{{this.image.medium}}' />
        </div>
        <div>
            Community Rating:
        </div>

    </div>
{{/each}}