<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
{{#each shows}}
    <div class='tv-shows'>
        <div>
            <a href='#'>{{this.name}}</a>
        </div>

        <div>
            <a href='#'><img src='{{this.image.medium}}' alt='' /></a>
        </div>
    </div>
{{/each}}