<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
{{#each shows}}
    <div class='tv-shows'>
        <div>
            {{this.name}}
        </div>

        <div>
            <img src='{{this.image.medium}}' alt='' />
        </div>
    </div>
{{/each}}